﻿@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />*@
<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
@*<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@
@*<script type="text/javascript" src="https://rawgit.com/wenzhixin/bootstrap-table/master/dist/bootstrap-table.min.js"></script>*@
@*<link rel="stylesheet" href="https://rawgit.com/wenzhixin/bootstrap-table/master/dist/bootstrap-table.min.css" />*@


<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

<style>
    #id01 {
        background-color: white;
    }

    th {
        text-align: center;
    }
</style>


@model FleetManagement.Web2.Models.TruckModel

@{
    ViewBag.Title = "Truck";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
<br /><br /><br /><br />
<div class="well">


    <button type="button" class="btn btn-default btn-lg" style="float:left; border-color:green;" id="myBtn"><span class="glyphicon glyphicon-plus-sign"></span>Truck</button>

    <br /><br />

    <div class="well-lg" id="id01"></div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="left:auto;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>New Truck</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <form role="form" id="form">
                    <div class="form-group">
                        <label for="truckNum">Truck Number</label>
                        <input type="text" class="form-control" id="truckNum" placeholder="New Truck Number" style="text-align:center;">
                    </div>
                    <div class="form-group">
                        <label for="truckLoc">Location</label>
                        <select id="truckLoc">
                            <option value="35.221997,-101.831297">Amarillo</option>
                            <option value="44.980342,-93.262939">Minneapolis</option>
                            <option value="45.523668,-122.676086">Portlant</option>
                            <option value="32.779193,-96.796417">Dallas</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus"></span> Add</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog" style="left:auto;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Driver Assignment</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <form role="form" id="formedit">
                    <div class="form-group">
                        <label for="truckLoc">Choose Driver</label>
                        <div id="sel"></div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus"></span> Assign</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            </div>
        </div>

    </div>
</div>

<script>
    function removed(num) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("remove")',
            dataType: 'json',
            data: {
                UserName: num
            }, success: function (data) {
                window.location.replace('@Url.Action("Truck")');


            },
            error: function (xhr, ajaxOptions, error, data) {
                window.location.replace('@Url.Action("Truck")');
            }
        });
    }
    function deleted(num) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("deleted")',
            dataType: 'json',
            data: {
                UserName: num
            }, success: function (data) {
                window.location.replace('@Url.Action("Truck")');


            },
            error: function (xhr, ajaxOptions, error, data) {
                window.location.replace('@Url.Action("Truck")');
            }
        });
    }
    var number;
    $("#formedit").submit(function (event) {
        event.preventDefault();
        var temp = document.getElementById("selval").value;
        var passing = number + "," +temp;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("saveChange")',
            dataType: 'json',
            data: {
                UserName: passing
            }, success: function (data) {
                window.location.replace('@Url.Action("Truck")');


            },
            error: function (xhr, ajaxOptions, error, data) {
                window.location.replace('@Url.Action("Truck")');
            }
        });

    });
    function edit(num) {
        console.log("inside");
        number = num
        $("#editModal").modal();
    }

$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
$("#form").submit(function (event) {
    event.preventDefault();

    var tn = document.getElementById("truckNum").value;
    var checker = false;
    var truckNums = '@Session["TL"]'.toString().split(',');
    for (var x = 0; x < truckNums.length; x++) {
        if (tn === (truckNums[x])) {
            checker = true;
        }
    }
    if (checker) {
        document.getElementById("truckNum").value = "";
        document.getElementById("truckNum").placeholder = "truck number not available";
        alert("Truck Number in use");
    }
    else {
        var passing = document.getElementById("truckNum").value + "," + document.getElementById("truckLoc").value;
        console.log(passing);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("add")',
            dataType: 'json',
            data: {
                UserName: passing
            }, success: function (data) {
                console.log(data);
                window.location.replace('@Url.Action("Truck")');
            },
            error: function (xhr, ajaxOptions, error, data) {
                window.location.replace('@Url.Action("Truck")');
                console.log("failure");
                console.log(data);
                alert(xhr.status);
                alert('Error: ' + xhr.responseJSON);
            }
        });
    }
});

    var xmlhttp2 = new XMLHttpRequest();
    var url2 = '@Url.Action("GetUserListInfo")';
    xmlhttp2.onreadystatechange = function () {
        console.log("inside the http" + xmlhttp2.readyState + xmlhttp2.status);
        if (xmlhttp2.readyState == 4 && xmlhttp2.status == 200) {
            myFunction2(xmlhttp2.responseText);
        }
    }
    xmlhttp2.open("GET", url2, true);
    xmlhttp2.send();
    function myFunction2(response) {
        console.log("inside myfunction");

        var arr = JSON.parse(response);
        var i;
        console.log(arr.length + "array");
        var out = "<select id='selval'>";
        for (i = 0; i < arr.length; i++) {
            console.log(arr[i].LastName);
            out+="<option value='"+arr[i].UserName+"'>"+arr[i].UserName+"</option>"
        }
        out += "</select>";
        document.getElementById("sel").innerHTML = out;
    }





    var xmlhttp = new XMLHttpRequest();
    var url = '@Url.Action("GetTruckListInfo")';

    xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            myFunction(xmlhttp.responseText);
        }
    }
    xmlhttp.open("GET", url, true);
    xmlhttp.send();

    function myFunction(response) {

        var arr = JSON.parse(response);
        var i;
        var out = "<table id='myTable' class='table table-bordered tablesorter'><thead><tr><th>Truck Number</th><th>Username</th><th>First Name</th><th>Last Name</th><th>Fault</th><th>Status</th><th>Active</th><th>Actions</th></tr></thead><tbody>";

        for (i = 0; i < arr.length; i++) {
            console.log(arr[i].LastName);
            out += "<tr class='" + arr[i].Color + "'><td>" +
            arr[i].TruckNumber +
            "</td><td>" +
            arr[i].UserName +
            "</td><td>" +
            arr[i].FirstName +
            "</td><td>" +
            arr[i].LastName +
            "</td><td>" +
            arr[i].Fault +
            "</td><td>" +
            arr[i].Status +
            "</td><td>" +
            arr[i].Active +
            "</td><td>" +
            "<button type='button' class='btn btn-link' style='color:green;' onclick='edit(" + arr[i].TruckNumber + ")'>Assign Driver</button><button type='button' class='btn btn-link' style='color:blue;' onclick='removed(" + arr[i].TruckNumber + ")'>Remove Driver</button><button type='button' class='btn btn-link' style='color:red;' onclick='deleted(" + arr[i].TruckNumber + ")'>Deactivate Truck</button>" +
            "</td></tr>";
        }
        out += "</tbody></table>";

        document.getElementById("id01").innerHTML = out;
    }
</script>
