﻿@model FleetManagement.Web2.Models.JobModel

@{
    ViewBag.Title = "CheckJob";
    if (Session["Setting"].ToString().Equals("0"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
    }
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<style>
    #map {
        width: 100%;
        height: 400px;
        background-color: grey;
    }
</style>
<h3 style="color:white; margin-top:40px;">Current Job/Last Job</h3>
<div class="container-fluid well-lg" style="padding:30px; margin-top:44px; background-color:white;">
    <div class="row content" style="border:solid;">
        <div class="col-sm-4">
            <label>Username:</label><br />
            <label id="username">@Session["UN"]</label>
        </div>
        <div class="col-sm-4">
            <label>FirstName:</label><br />
            <label id="FirstName">@Session["FN"]</label>
        </div>
        <div class="col-sm-4">
            <label>LastName:</label><br />
            <label id="LastName">@Session["LN"]</label>
        </div>
    </div>
    <hr />
    <div class="row content">
        <div class="col-sm-6">
            <h3 style="float:left">Starting Destination:</h3>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Address</td>
                        <td><label id="address"></label></td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td><label id="city"></label></td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td><label id="state"></label></td>
                    </tr>
                    <tr>
                        <td>Zip</td>
                        <td><label id="zip"></label></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>      
 
       </div>
        <div class="col-sm-6" style="border-left:solid;">
            <h3 style="float:left">Ending Destination:</h3>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Address</td>
                        <td><label id="eaddress"></label></td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td><label id="ecity"></label></td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td><label id="estate"></label></td>
                    </tr>
                    <tr>
                        <td>Zip</td>
                        <td><label id="ezip"></label></td>
                    </tr>
                        
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12" ><div id="map"></div></div>
       
        </div>
</div>
<script>
        var slat = '@Session["SLAT"]';
        var slon = '@Session["SLON"]';
        var elat = '@Session["ELAT"]';
    var elon = '@Session["ELON"]';
    var latlng;
    var latlng2;
    //    var latlng = new google.maps.LatLng(slat,slon);
    //    // This is making the Geocode request
    //    var geocoder = new google.maps.Geocoder();
    //    geocoder.geocode({ 'latLng': latlng }, function (results, status) {
    //        if (status !== google.maps.GeocoderStatus.OK) {
    //            alert(status[1].formatted_address);
    //        }
    //        // This is checking to see if the Geoeode Status is OK before proceeding
    //        if (status == google.maps.GeocoderStatus.OK) {
    //            console.log(results[0].formatted_address);
    //            var temp = results[0].formatted_address.split(",");
    //            document.getElementById("address").innerHTML = temp[0];
    //            document.getElementById("city").innerHTML = temp[1];
    //            var stemp = temp[2].split(" ");
    //            document.getElementById("state").innerHTML = stemp[1];
    //            document.getElementById("zip").innerHTML = stemp[2];
    //            var address = (results[0].formatted_address);
    //            }
    //    });
    //    var latlng2 = new google.maps.LatLng(elat, elon);
    //    // This is making the Geocode request
    //    var geocoder = new google.maps.Geocoder();
    //    geocoder.geocode({ 'latLng': latlng2 }, function (results, status) {
    //        if (status !== google.maps.GeocoderStatus.OK) {
    //            alert(status[1].formatted_address);
    //        }
    //        // This is checking to see if the Geoeode Status is OK before proceeding
    //        if (status == google.maps.GeocoderStatus.OK) {
    //            console.log(results[0].formatted_address);
    //            var temp = results[0].formatted_address.split(",");
    //            document.getElementById("eaddress").innerHTML = temp[0];
    //            document.getElementById("ecity").innerHTML = temp[1];
    //            var stemp = temp[2].split(" ");
    //            document.getElementById("estate").innerHTML = stemp[1];
    //            document.getElementById("ezip").innerHTML = stemp[2];
    //            var address = (results[0].formatted_address);
    //        }
    //});






    //var map;
    //function initMap() {
    //    map = new google.maps.Map(document.getElementById('map'), {
    //        center: {lat: 39.8282, lng: -98.5795},
    //        zoom: 4
    //    });
    //}
    function initMap() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        /////////////////////////////////////////////////////////////////////////////////
        latlng = new google.maps.LatLng(slat, slon);
        // This is making the Geocode request
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'latLng': latlng }, function (results, status) {
            if (status !== google.maps.GeocoderStatus.OK) {
                alert(status[1].formatted_address);
            }
            // This is checking to see if the Geoeode Status is OK before proceeding
            if (status == google.maps.GeocoderStatus.OK) {
                console.log(results[0].formatted_address);
                var temp = results[0].formatted_address.split(",");
                document.getElementById("address").innerHTML = temp[0];
                document.getElementById("city").innerHTML = temp[1];
                var stemp = temp[2].split(" ");
                document.getElementById("state").innerHTML = stemp[1];
                document.getElementById("zip").innerHTML = stemp[2];
                var address = (results[0].formatted_address);
            }
        });
        latlng2 = new google.maps.LatLng(elat, elon);
        // This is making the Geocode request
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'latLng': latlng2 }, function (results, status) {
            if (status !== google.maps.GeocoderStatus.OK) {
                alert(status[1].formatted_address);
            }
            // This is checking to see if the Geoeode Status is OK before proceeding
            if (status == google.maps.GeocoderStatus.OK) {
                console.log(results[0].formatted_address);
                var temp = results[0].formatted_address.split(",");
                document.getElementById("eaddress").innerHTML = temp[0];
                document.getElementById("ecity").innerHTML = temp[1];
                var stemp = temp[2].split(" ");
                document.getElementById("estate").innerHTML = stemp[1];
                document.getElementById("ezip").innerHTML = stemp[2];
                var address = (results[0].formatted_address);
            }
        });
        ///////////////////////////////////////////////////////////////////////////////////////
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: { lat: 39.8282, lng: -98.5795 }
        });
        directionsDisplay.setMap(map);

        calculateAndDisplayRoute(directionsService, directionsDisplay);
    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
            origin: latlng,  // Haight.
            destination: latlng2,  // Ocean Beach.
            // Note that Javascript allows us to access the constant
            // using square brackets and a string value as its
            // "property."
            travelMode: google.maps.TravelMode["DRIVING"]
        }, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0Kv9hb8Jtf13vQgNM1uoKQqA4JTnbfbM&callback=initMap">
</script>
