﻿@model FleetManagement.Web2.Models.JobModel

@{
    ViewBag.Title = "CheckIn";
    if (Session["Setting"].ToString().Equals("0")){
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else { 
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
    }

    }

<div class="container well" style="margin-top:65px;">

    <div class="row" style="background-color:white; padding-top:65px; padding-left:60px;">

        <div class="col-sm-6">
            <table class="table table-hover" style="background-color:white;">
                <tbody>
                    <tr>
                        <td>Latitude</td>
                        <td><label id="lat"></label></td>
                    </tr>
                    <tr>
                        <td>Longitude</td>
                        <td><label id="lon"></label></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><label id="address"></label></td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td><label id="city"></label></td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td><label id="state"></label></td>
                    </tr>
                    <tr>
                        <td>Zip</td>
                        <td><label id="zip"></label></td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td><label>@Session["UN"]</label></td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" onclick="ajaxCall()" class="btn btn-primary btn-block" value="Check-in" />
            <br />
            <br />

        </div>

        <div class="col-sm-6" id="mapholder">

        </div>
    </div>
</div>
<script>
    var latlon;
    navigator.geolocation.getCurrentPosition(showPosition);
    function ajaxCall() {
        console.log("inside the function");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("NewLoc")',
            dataType: 'json',
            data: {
                UserName: latlon
            }, success: function (data) {
                console.log(data);
                console.log("success");
            },
            error: function (xhr, ajaxOptions, error) {
                console.log("failure");
                window.location.replace('@Url.Action("../Home/Home")');
                //alert(xhr.status);
                //alert('Error: ' + xhr.responseJSON);
            }
        });
    }

    function showPosition(position) {

        latlon = position.coords.latitude + "," + position.coords.longitude;

        var img_url = "http://maps.googleapis.com/maps/api/staticmap?center=" + latlon + "&zoom=14&size=400x300&sensor=false&markers=color:blue%7Clabel:S%7C"+latlon +"&key=AIzaSyC0Kv9hb8Jtf13vQgNM1uoKQqA4JTnbfbM";

        document.getElementById("mapholder").innerHTML = "<img src='" + img_url + "'>";
        document.getElementById("lat").innerHTML = position.coords.latitude;
        document.getElementById("lon").innerHTML = position.coords.longitude;

        var latlng = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
        // This is making the Geocode request
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'latLng': latlng }, function (results, status) {
            if (status !== google.maps.GeocoderStatus.OK) {
                alert(status[1].formatted_address);
            }
            // This is checking to see if the Geoeode Status is OK before proceeding
            if (status == google.maps.GeocoderStatus.OK) {
                console.log(results[0].formatted_address);
                var temp = results[0].formatted_address.split(",");
                document.getElementById("address").innerHTML = temp[0];
                document.getElementById("city").innerHTML = temp[1];
                var stemp = temp[2].split(" ");
                document.getElementById("state").innerHTML = stemp[1];
                document.getElementById("zip").innerHTML = stemp[2];
                var address = (results[0].formatted_address);
                @*@Model.lon = position.coords.longitude;
                @Model.lat = position.coords.latitude;*@

            }
        });
}
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0Kv9hb8Jtf13vQgNM1uoKQqA4JTnbfbM">
</script>
