﻿@model FleetManagement.Web2.Models.JobModel

@{
    ViewBag.Title = "NoJob";
    if (Session["Setting"].ToString().Equals("0"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
    }
}
<br /><br /><br /><br /><br />
<h1 style="color:black; background-color:white; vertical-align:central;" class="well-lg">No Current Job</h1>

