﻿<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/wenzhixin/bootstrap-table/master/dist/bootstrap-table.min.js"></script>
<link rel="stylesheet" href="https://rawgit.com/wenzhixin/bootstrap-table/master/dist/bootstrap-table.min.css" />
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.26.5/js/jquery.tablesorter.min.js"></script>
<style>
    #id01 {
        background-color: white;
    }

    th {
        text-align: center;
    }
</style>


@model FleetManagement.Web2.Models.UserModel

@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
<br /><br /><br /><br /><br /><br />

<div class="well-lg" id="id01"></div>

<!-- Modal -->
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog" style="left:auto;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Employement Status Change</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <form role="form" id="form">
                    <div class="form-group">
                        <label for="empChange">Employee Security Level</label>
                        <select id="empChange">
                            <option value="0">Employee</option>
                            <option value="1">Maintenance</option>
                            <option value="2">Management</option>                        
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus"></span> Change</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            </div>
        </div>

        </div>
    </div>



        <script>
            var hold = "";
            function edit(num) {
                hold = num;
                $("#editModal").modal();
            }
            $("#form").submit(function (event) {
                event.preventDefault();
                var temp = document.getElementById("empChange").value;
                var passing = hold + "," + temp;
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("saveChange")',
                    dataType: 'json',
                    data: {
                        UserName: passing
                    }, success: function (data) {
                        window.location.replace('@Url.Action("Employee")');


                    },
                    error: function (xhr, ajaxOptions, error, data) {
                        window.location.replace('@Url.Action("Employee")');
                    }
                });

            });



            function deleted(num) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("deleted")',
                    dataType: 'json',
                    data: {
                        UserName: num
                    }, success: function (data) {
                        window.location.replace('@Url.Action("Employee")');


                    },
                    error: function (xhr, ajaxOptions, error, data) {
                        window.location.replace('@Url.Action("Employee")');
                    }
                });
            }
            var xmlhttp = new XMLHttpRequest();
            var url = '@Url.Action("GetUserListInfo")';

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    myFunction(xmlhttp.responseText);
                }
            }
            xmlhttp.open("GET", url, true);
            xmlhttp.send();

            function myFunction(response) {

                var arr = JSON.parse(response);
                var i;
                var out = "<table id='myTable' class='table table-bordered tablesorter'><thead><tr><th>Username</th><th>First Name</th><th>Last Name</th><th>Truck Number</th><th>Job Id</th><th>Status</th><th>Active</th><th>Actions</th></tr></thead><tbody>";

                for (i = 0; i < arr.length; i++) {
                    console.log(arr[i].LastName);
                    out += "<tr class='" + arr[i].Color + "'><td>" +
                    arr[i].UserName +
                    "</td><td>" +
                    arr[i].FirstName +
                    "</td><td>" +
                    arr[i].LastName +
                    "</td><td>" +
                    arr[i].truckNumber2 +
                    "</td><td>" +
                    arr[i].Job2 +
                    "</td><td>" +
                    arr[i].Status +
                    "</td><td>" +
                    arr[i].Active +
                    "</td><td>" +
                    "<button type='button' class='btn btn-link' style='color:green;' onclick='edit(\"" + arr[i].UserName + "\")'>Change Status</button><button type='button' class='btn btn-link' style='color:red;' onclick='deleted(\"" + arr[i].UserName + "\")'>Deactivate</button>" +
                    "</td></tr>";
                }
                out += "</tbody></table>";

                document.getElementById("id01").innerHTML = out;

            }
            (function ($) {
                $('#id01').tablesorter();
            })(jQuery);
        </script>
