﻿<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/wenzhixin/bootstrap-table/master/dist/bootstrap-table.min.js"></script>
<link rel="stylesheet" href="https://rawgit.com/wenzhixin/bootstrap-table/master/dist/bootstrap-table.min.css" />
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.26.5/js/jquery.tablesorter.min.js"></script>
<style>
    #id01 {
        background-color: white;
    }

    th {
        text-align: center;
    }
</style>


@model FleetManagement.Web2.Models.JobModel

@{
    ViewBag.Title = "Job";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
<br /><br /><br /><br />



<div class="well">
    <button type="button" class="btn btn-default btn-lg well-lg" id="myBtn" style="float:left; border-color:green;"><span class="glyphicon glyphicon-plus-sign"></span>New Job</button><br /><br />
    <div class="well-lg" id="id01"></div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="left:auto;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>New Truck</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <form role="form" id="form">
                    <div class="form-group">
                        <label for="start">Starting Location</label>
                        <input type="text" class="form-control" id="start" placeholder="Start" style="text-align:center;">
                    </div>
                    <div class="form-group">
                        <label for="finish">Destination</label>
                        <input type="text" class="form-control" id="finish" placeholder="End" style="text-align:center;">
                    </div>
                    <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus"></span> Add</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog" style="left:auto;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Driver Assignment</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <form role="form" id="formedit">
                    <div class="form-group">
                        <label for="truckLoc">Choose Driver</label>
                        <div id="sel"></div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus"></span> Assign</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            </div>
        </div>

    </div>
</div>



<script>
    var a = "";
    $("#formedit").submit(function (event) {
        event.preventDefault();
        var temp = document.getElementById("selval").value;
        var passing = a + "," + temp;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("saveChange")',
            dataType: 'json',
            data: {
                UserName: passing
            }, success: function (data) {
                window.location.replace('@Url.Action("Job")');


            },
            error: function (xhr, ajaxOptions, error, data) {
                window.location.replace('@Url.Action("Job")');
            }
        });

    });
    function completed(num){
        $.ajax({
            type: 'POST',
            url: '@Url.Action("complete")',
            dataType: 'json',
            data: {
                UserName: num
            }, success: function (data) {
                window.location.replace('@Url.Action("Job")');


            },
            error: function (xhr, ajaxOptions, error, data) {
                window.location.replace('@Url.Action("Job")');
            }
        });
    }

    function assign(num) {
        console.log("inside");
        a = num
        $("#editModal").modal();
    }
    
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
$("#form").submit(function (event) {
    event.preventDefault();
    var start = "https://maps.googleapis.com/maps/api/geocode/json?address=" + document.getElementById("start").value + "&key=AIzaSyC0Kv9hb8Jtf13vQgNM1uoKQqA4JTnbfbM"
    var end = "https://maps.googleapis.com/maps/api/geocode/json?address=" + document.getElementById("finish").value + "&key=AIzaSyC0Kv9hb8Jtf13vQgNM1uoKQqA4JTnbfbM";
    var startC;
    var endC;
    $.ajax({
        type: 'POST',
        url: start,
        dataType: 'json'
        , success: function (data) {
            console.log(data);
            secondAjax();
            startC = data.results[0].geometry.location.lat + "," + data.results[0].geometry.location.lng;
        },
        error: function (xhr, ajaxOptions, error, data) {

        }
    });
    function secondAjax() {
        $.ajax({
            type: 'POST',
            url: end,
            dataType: 'json'
        , success: function (data) {
            console.log(data);
            endC = data.results[0].geometry.location.lat + "," + data.results[0].geometry.location.lng;
            complete();
        },
            error: function (xhr, ajaxOptions, error, data) {
            }
        });
    }
    function complete() {
        passing = startC + "," + endC;
        console.log(passing);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("newJob")',
            dataType: 'json',
            data: {
                UserName: passing
            }, success: function (data) {
            },
            error: function (xhr, ajaxOptions, error) {
                window.location.replace('@Url.Action("Job")');
            }
        });
    }
});

    var xmlhttp2 = new XMLHttpRequest();
    var url2 = '@Url.Action("GetUserListInfo")';
    xmlhttp2.onreadystatechange = function () {
        console.log("inside the http" + xmlhttp2.readyState + xmlhttp2.status);
        if (xmlhttp2.readyState == 4 && xmlhttp2.status == 200) {
            myFunction2(xmlhttp2.responseText);
        }
    }
    xmlhttp2.open("GET", url2, true);
    xmlhttp2.send();
    function myFunction2(response) {
        console.log("inside myfunction");

        var arr = JSON.parse(response);
        var i;
        console.log(arr.length + "array");
        var out = "<select id='selval'>";
        for (i = 0; i < arr.length; i++) {
            console.log(arr[i].LastName);
            out += "<option value='" + arr[i].UserName + "'>" + arr[i].UserName + "</option>"
        }
        out += "</select>";
        document.getElementById("sel").innerHTML = out;
    }
















    var xmlhttp = new XMLHttpRequest();
    var url = '@Url.Action("GetJobListInfo")';

    xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            myFunction(xmlhttp.responseText);
        }
    }
    xmlhttp.open("GET", url, true);
    xmlhttp.send();

    function myFunction(response) {

        var arr = JSON.parse(response);
        var i;
        var out = "<table id='myTable' class='table table-bordered tablesorter'><thead><tr><th>Job Id</th><th>Username</th><th>First Name</th><th>Last Name</th><th>Start Latitude</th><th>Start Longitude</th><th>End Latitude</th><th>End Longitude</th><th>Active</th><th>Actions</th></tr></thead><tbody>";

        for (i = 0; i < arr.length; i++) {
            console.log(arr[i].LastName);
            out += "<tr class='" + arr[i].Color + "'><td>" +
            arr[i].JobId +
            "</td><td>" +
            arr[i].UserName +
            "</td><td>" +
            arr[i].FirstName +
            "</td><td>" +
            arr[i].LastName +
            "</td><td>" +
            arr[i].SLat +
            "</td><td>" +
            arr[i].SLon +
            "</td><td>" +
            arr[i].ELat +
            "</td><td>" +
            arr[i].ELon +
            "</td><td>" +
            arr[i].Active +
            "</td><td>" +
            "<button type='button' class='btn btn-link' style='color:blue;'onclick='assign(" + arr[i].JobId + ")'>Assign a Driver</button><button type='button' class='btn btn-link' style='color:green;' onclick='completed(" + arr[i].JobId + ")'>Complete</button>" +
            "</td></tr>";
        }
        out += "</tbody></table>";

        document.getElementById("id01").innerHTML = out;

    }
    (function ($) {
        $('#id01').tablesorter();
    })(jQuery);
</script>