﻿@model FleetManagement.Web.Models.LoginModel

@{
    ViewBag.Title = "LoginFailure";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2 style="color:red">The Username/Password you entered was incorrect.</h2>
@using (Html.BeginForm("Verify", "Login", FormMethod.Post))
{
    <fieldset>
        <legend>Login</legend>
        <div>
            @Html.Label("Username")
        </div>
        <div>
            @Html.TextBox("Username", null, new { @class = "form-control" })
        </div>
        <div>
            @Html.Label("Password")
        </div>
        <div>
            @Html.Password("Password", null, new {@class = "form-control" })
        </div>
        @Html.DropDownListFor(m => m.chosenT, new SelectList(Model.Trucks, "Text", "Value"), "-- Select Truck --", new { @class = "form-control" })
        <input type="submit" value="Login" />
    </fieldset>
}

