﻿@model FleetManagement.Web.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h3>Login in to access your Fleet Management Service</h3>
<br /><br />
@using (Html.BeginForm("Verify","Login",FormMethod.Post))
{
    <fieldset>
        <legend>Login</legend>
        <div>
            @Html.Label("Username")
        </div>
        <div>
            @Html.TextBox("Username", null, new { @class = "form-control" })
        </div>
        <div>
            @Html.Label("Password")
        </div>
        <div>
           @Html.Password("Password", null, new { @class = "form-control" })
        </div>
            @Html.DropDownListFor(m => m.chosenT, new SelectList(Model.Trucks, "Text", "Value"), "-- Select Truck --", new { @class = "form-control" })

        <input type="submit" value="Login"/>
    </fieldset>
}