﻿@model FleetManagement.Web.Models.MapModel

@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layoutmap.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Map</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Truck Number</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tru in Model.Locations)
                    {
                        <tr>
                            <td>@tru.TruckNumber</td>
                            <td>@tru.DateCreated</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <div id="map"></div>
            <script>
        function initMap() {
          var mapDiv = document.getElementById('map');
          var map = new google.maps.Map(mapDiv, {
              center: {lat: 39.8282, lng: -98.5795},
              zoom: 4
          });
          var g = @Model.gs;
          map.data.addGeoJson(g);
            var InfoWindow = new google.maps.InfoWindow();
            map.data.addListener('click', function(event){
                var myHtml = event.feature.getProperty("Truck Number");
                InfoWindow.setContent("<div style='width:150px; text-align: center;'>Truck: "+myHtml+"</div>");
                InfoWindow.setPosition(event.feature.getGeometry().get());
                InfoWindow.setOptions({pixelOffst: new google.maps.Size(0,-30)});
                InfoWindow.open(map);
            });

        }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0Kv9hb8Jtf13vQgNM1uoKQqA4JTnbfbM&callback=initMap">
            </script>
        </div>
    </div>
</div>
