﻿@model FleetManagement.Web.Models.LoginModel

@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="well well-lg">Search by Username</h2>
            @using (Html.BeginForm("chooseU", "Login", FormMethod.Post))
            {
                @Html.DropDownListFor(m => m.chosenU, new SelectList(Model.Users, "Text", "Value"), "-- Select Driver --", new { @class = "form-control" })

                <input type="submit" value="View User" class="btn btn-primary btn-block" />
            }
        </div>
        <div Class="col-sm-6">
            <h2 class="well well-lg">Search by Truck Number</h2>
            <div class="form-group">
                @using (Html.BeginForm("chooseT", "Login", FormMethod.Post))
                {
                    @Html.DropDownListFor(m => m.chosenT, new SelectList(Model.Trucks, "Text", "Value"), "-- Select Truck --", new { @class = "form-control" })

                    <input type="submit" value="View Truck" class="btn btn-primary btn-block" />
                }
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <h2 class="well well-lg">Look At All Trucks</h2>
    @using (Html.BeginForm("ViewAll", "Login", FormMethod.Post))
    {
        <input class="btn btn-block btn-primary" type="submit" value="View All" />
    }
</div>



