﻿@model FleetManagement.Web.Models.LoginModel

@{
    ViewBag.Title = "signup";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>signup</h2>

<h3>Welcome to Fleet Management USA</h3>
&nbsp;<h3>Fill out the form below and we will get you started</h3>
<br /><br />
@using (Html.BeginForm("confirmSignUp", "Login", FormMethod.Post))
{
    <fieldset>
        <legend>Login</legend>
        <div>
            @Html.Label("First Name")
        </div>
        <div>
            @Html.TextBox("FirstName", null, new { @class = "form-control" })
        </div>
        <div>
            @Html.Label("Last Name")
        </div>
        <div>
            @Html.Password("LastName", null, new { @class = "form-control" })
        </div>
        <div>
            @Html.Label("Email")
        </div>
        <div>
            @Html.Password("Email", null, new { @class = "form-control" })
        </div>
        <div>
            @Html.Label("Username")
        </div>
        <div>
            @Html.Password("UserName", null, new { @class = "form-control" })
        </div>
        <div>
            @Html.Label("Password")
        </div>
        <div>
            @Html.Password("Password", null, new { @class = "form-control" })
        </div>


        <input type="submit" value="Login" />
    </fieldset>
}
