﻿@model FleetManagement.Web2.Models.LoginModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<div class="top-content">

    @*<h3>Welcome @Session["UN"]</h3>*@
    <header class="intro-header" style="background-image: url('../images/backgrounds/flagbanner.jpg');padding-top:70px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 style="color:white;">Fleet Management USA</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->

    <div class="container-fluid" style="padding:5px; background-color:white;">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h3>Welcome, @Session["UN"]</h3>
                <br /><br /><br /><br /><br />
                <h4>Follow Us</h4>
                <br />
                <ul class="nav nav-pills navbar-link" style="padding-left:74px;">
                    <li><a class="btn btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></a></li>
                    <li><a class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a></li>
                    <li><a class="btn btn-social-icon btn-instagram"><span class="fa fa-instagram"></span></a></li>
                </ul><br>
                <h4>Contact Us</h4>
                <br />
                <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top"><span class="glyphicon glyphicon-envelope"></span>Fleet Management USA</a>
            </div>
            <div class="col-sm-9" style="border-left:solid; text-align:left; padding-top:15px;">


                <h4><small>June 27, 2016</small></h4>
                <hr>
                <h2>Renewable Energy Assocation</h2>
                <h5><span class="glyphicon glyphicon-time"></span> 10:00 am.</h5>
                <h5><span class="label label-default">News</span></h5><br>
                <p>
                    The Renewable Energy Association (REA) has launched an ultra-low emission vehicle sector group to support a sustainable transition to the technology.
                    A sub-group of the established Renewable Transport Group, the work of the ULEV sector group will represent members across the transport, energy, and technology sectors who are working to deliver a sustainable transition to low-emission vehicles, in line with government aspirations for every new vehicle to be a ULEV by 2040.
                    The group will work closely with the REA’s energy storage and solar groups, and complement the existing strong presence of their work with industry and government stakeholders.
                    The sector group’s priorities will be to secure the long-term regulatory environment for new and emerging technologies and to work towards delivering a sustainable energy supply to fuel them.
                    These priorities reflect both the rising importance of these issues to REA members but also the increasing prioritisation of reducing transport emissions in policy-making and regulation.
                    The establishment of the ULEV Sector Group comes as the REA awarded its inaugural Low Carbon Transport Award to Formula E and Gnewt Cargo at its annual awards ceremony on 16 June.
                    Grant Pearson, chairman of the Renewable Transport Group, said: “The establishment of the ULEV Sector Group builds on the exemplary work of the Renewable Transport Group.
                    "It also recognises that new and emerging low-emission vehicle technologies must be fuelled from renewable energy sources if the mass transition to ULEVs is to be sustainable.
                    "The work of the group will be taken forward by the REA’s new head of electric vehicles, Tanya Sinclair, who brings a wealth of expertise to this area.”
                </p>
                <br><br>

                <h4><small>June 27, 2016</small></h4>
                <hr>
                <h2>Registeration Added</h2>
                <h5><span class="glyphicon glyphicon-time"></span> 1:25 am.</h5>
                <h5><span class="label label-success">Update</span></h5><br>
                <p>Are you tired of having to input each user manually from the back end well so are we. We have implemented a new feature for all new employees to be able to sign up and be able to get right into action. No more waits. We have saved you the hassel of manually entering each employee cause we here at Fleet Management USA Know you have better things to do.</p>
                <br><br>

                <h4><small>June 27, 2016</small></h4>
                <hr>
                <h2>Check-in is a go!</h2>
                <h5><span class="glyphicon glyphicon-time"></span> 12:30 am.</h5>
                <h5><span class="label label-success">Update</span></h5><br>
                <p>New Location is working fully now no more bugs or crashes we are still hard at work each day to make your experience here at Fleet Management USA a great one !</p>
                <br><br>

                <h4><small>June 25, 2016</small></h4>
                <hr>
                <h2>Check-In page fix</h2>
                <h5><span class="glyphicon glyphicon-time"></span> 9:36 am.</h5>
                <h5><span class="label label-danger">Fix</span></h5><br>
                <p>Update made to fix new location page from erroring out on certain locations. Hoping to keep everyone up to date on the new features that come out as they happen. </p>
                <br><br>

                <h4><small>June 24, 2016</small></h4>
                <hr>
                <h2>Status Update</h2>
                <h5><span class="glyphicon glyphicon-time"></span> 3:56 pm.</h5>
                <h5><span class="label label-primary">Status</span></h5><br>
                <p>The team is hard at work today brining each and everyone one of you a great experience here at Fleet Managment USA. The newest update should be rolling out late Tomorrow afternoon and should be up and ready for you to start using. Thank you everyone for your patience with us during the transitions to a newer and greater Fleet Management USA. </p>
                <br><br>

                <h4><small>June 24, 2016</small></h4>
                <hr>
                <h2>Fleetio launches app for mobile fleet management</h2>
                <h5><span class="glyphicon glyphicon-time"></span> 2:05 pm.</h5>
                <h5><span class="label label-default">News</span></h5><br>
                <p>
                    Birmingham-based fleet management company Fleetio has developed an app that transitions many features of its web-based platform into the mobile devices of its customer's drivers.
                    FleetioGo encompasses most of the original software's functionality with statistics like miles per gallon to identify any inefficiencies between vehicles, but has also added two key features to provide drivers with more flexibility.
                    One of the new features on the app is a vehicle inspection platform that allows drivers to check the maintenance and safety of the vehicle as they are on the move, essentially removing the paper process from vehicle inspections. This also helps the drivers go through inspections themselves and speeds up the overall process.
                    Another feature is a bar scanning tool that pulls up the various details of the vehicle within seconds.
                    This is the second mobile app developed by Fleetio, and CEO Tony Summerville said the company has been doubling down on its mobile development in recent months.
                    "We're really starting to put mobile first, because when companies are operating their fleets with so many assets, having a native app that drivers can use while out operating the vehicles helps them manage these assets and gives them much more flexibility," he said. "We're putting the power of the platform into the pockets of the drivers."
                    Summerville said mobile will be a huge part of Fleetio's future. The company debuted the FleetioGo app at the Government Fleet Expo & Conference, and Summerville said the response was overwhelming.
                    "There's been a huge paradigm shift as more mobile workers utilize smartphones and tablets to keep up with their work, so the timing for this is perfect. This will be a game changer for fleet management and Fleetio," he said.
                    FleetioGo is available for Fleetio customers on Android and iOS.
                </p>
                <br><br>


                <h4><small>June 24, 2016</small></h4>
                <hr>
                <h2>Truck Logging</h2>
                <h5><span class="glyphicon glyphicon-time"></span> 12:58 pm.</h5>
                <h5><span class="label label-success">Update</span> <span class="label label-default">Logging</span></h5><br>
                <p>Welcome back everyone for another update to your fleet management service. This update includes a much improved truck check-in service. The user will now be able to submit a new geo-location defining where they are at, at their current time. The program has been in work for quite sometime now and we here at Fleet Management hope you like it and hope to here your feedback on the new improvements.</p>
                <br><br>

                <h4><small>June 23, 2016</small></h4>
                <hr>
                <h2>Mapping</h2>
                <h5><span class="glyphicon glyphicon-time"></span> 3:18 pm.</h5>
                <h5><span class="label label-success">Update</span><span class="label label-default">Mapping</span></h5><br>
                <p>Big update, today we bring to you here at Fleet Management Truck Mapping. With the new truck mapping feature you will now be able to see the tracking of each truck in your company. The locations will now be listed with the coordinates by truck number and many new features are sure to come in the future.</p>
                <br />
            </div>
        </div>
    </div>
</div>