﻿@model FleetManagement.Web2.Models.LoginModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js></script>
<link rel="stylesheet" href="~/Content/style.css" />
<link rel="stylesheet" href="~/Content/form-element.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

<link rel="stylesheet" href="~/Content/login.css" />


@*<h3>Login in to access your Fleet Management Service</h3>*@
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Login to our site</h3>
                            <p>Enter your username and password to log on:</p>
                            
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                        <h6 id="fail" style="color:red;text-align:center;"></h6>
                    </div>
                    <div class="form-bottom">
                        <form  class="login-form">
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Username</label>
                                <input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Password</label>
                                <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
                            </div>
                            <button type="submit" class="btn">Sign in!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 social-login">
                    <h3>...or login with:</h3>
                    <div class="social-login-buttons">
                        <a class="btn btn-link-1 btn-link-1-facebook" disabled href="#">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                        <a class="btn btn-link-1 btn-link-1-twitter" disabled href="#">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a class="btn btn-link-1 btn-link-1-google-plus" disabled href="#">
                            <i class="fa fa-google-plus"></i> Google Plus
                        </a>
                    </div>
                    <small>Social Login Coming Soon</small>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.login-form').submit(function (event) {
        event.preventDefault();
        var name = document.getElementById("form-username").value;
        var pass = document.getElementById("form-password").value;
        var passing = name + ',' + pass;
        //console.log("inside the function");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Verify")',
            dataType: 'json',
            data: {
                UserName: passing
            }, success: function (data) {
                console.log(data);
                try{
                    if (data[0].UserName == "true") {
                        window.location.replace('@Url.Action("Home")');
                    }
                    else {
                        //console.log("inside failure");
                        document.getElementById("form-username").value = "";
                        document.getElementById("form-password").value = "";
                        document.getElementById("fail").innerHTML = "The Username/Password is incorrect.";
                    }
                }
                catch (err) {
                    //console.log("inside failure err");
                    document.getElementById("form-username").value = "";
                    document.getElementById("form-password").value = "";
                    document.getElementById("fail").innerHTML = "The Username/Password is incorrect.";
                }


            },
            error: function (xhr, ajaxOptions, error,data) {
                //window.location.replace('@Url.Action("Home")');
            console.log("failure");
            console.log(data);
            alert(xhr.status);
            alert('Error: ' + xhr.responseJSON);
        }
    });
});
</script>