﻿@model FleetManagement.Web2.Models.LoginModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js></script>
<div style="padding-top:160px;">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form role="form" class="register_form well-lg" style="background-color:white;">
			<h2 style="color:black;">Please Sign Up </h2>
            <h6 style="color:red;text-align:center" id="error"></h6>
			<hr class="colorgraph">
			<div class="row" >
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
                        <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
					</div>
				</div>
			</div>
			<div class="form-group">
				<input type="text" name="display_name" id="display_name" class="form-control input-lg" placeholder="Username" tabindex="3">
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-sm-3 col-md-3">
					<span class="button-checkbox">
						<button type="button" class="btn" data-color="info" tabindex="7"  id="terms" >I Agree</button>
                        <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1" >
					</span>
				</div>
				<div class="col-xs-8 col-sm-9 col-md-9" style="color:black;">
					 By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
				</div>
			</div>
			
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-12"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
			</div>
		</form>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
			</div>
			<div class="modal-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

<script>
    $('.register_form').submit(function (event) {
        event.preventDefault();
        var check = document.getElementById("t_and_c").checked;
        var fn = document.getElementById("first_name").value;
        var ln = document.getElementById("last_name").value;
        var user = document.getElementById("display_name").value;
        var pass = document.getElementById("password").value;
        var passc = document.getElementById("password_confirmation").value;
        if (check) {
            if (isNullOrWhitespace(fn) && isNullOrWhitespace(ln) && isNullOrWhitespace(user) && isNullOrWhitespace(pass) && isNullOrWhitespace(passc)) {
                if (pass === passc) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("username")',
                        dataType: 'json',
                        data: {
                            UserName: user
                        }, success: function (data) {
                            if (data[0].UserName == "True") {
                                var data = fn + "," + ln + "," + user + "," + pass + ",";
                                $.ajax({
                                    type: 'POST',
                                    url: '@Url.Action("newUser")',
                                    dataType: 'json',
                                    data: {
                                        UserName: data
                                    }, success: function (data) {
                                        window.location.replace('@Url.Action("Index")');
                                    },
                                    error: function (xhr, ajaxOptions, error, data) {
                                    }
                                });
                            }
                            else {
                                document.getElementById("error").innerHTML = "Username is already taken";
                                document.getElementById("display_name").value = "";
                            }

                        },
                        error: function (xhr, ajaxOptions, error, data) {
                        }
                    });

                } else {
                    document.getElementById("error").innerHTML = "Passwords do not match";
                    document.getElementById("password").value = "";
                    document.getElementById("password_confirmation").value = "";
                }
            }
            else {
                document.getElementById("error").innerHTML = "Not all fields are complete"
            }
        } else {
            document.getElementById("error").innerHTML = "Terms and Agreement are required to register"
        }
    });
    function isNullOrWhitespace(input) {

        if (typeof input === 'undefined' || input == null || input === "") return false;

        return true;
    }
</script>
